.tabla{
    position: absolute;
    top: 2%;
    left: 65%;

    width: 33%;
    height: 25%;

    border-style: solid;
    border-width: 1px;
    border-radius: 3%;
    border-color: lightgray;
    color: white;

}

img:hover{
   color:orange; 
}


img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
}